<#include "../layout/header.html" >

<div class="pageheader">
  <h2><i class="fa fa-tasks"></i>设备</h2>
</div>

<!-- main content -->
<div class="contentpanel">
  <div class="row">
    <div class="col-md-12">
      <p class="toolbar">
        <span class="alert"></span>
      </p>

      <table id="table" class="table table-no-bordered table-inverse" data-show-refresh="true"
             data-show-columns="true" data-striped="true" data-show-toggle="true"
             data-query-params-type="" data-query-params="queryParams" data-toolbar=".toolbar"
             data-page-list="[10, 20, 50]" data-pagination="true" data-side-pagination="server"
             data-search='true' data-search-time-out='3000' data-trim-on-search='true'
             data-search-on-enter-key='true'>
        <thead>
        <th data-formatter="runningFormatter">No.</th>
        <th data-field="mac" data-align="center" data-sortable="true">MAC</th>
        <th data-field="online" data-align="center" data-sortable="true" data-formatter="onlineFormatter">连接状态</th>
        <th data-field="ip" data-align="center" data-visible="false">IP</th>
        <th data-field="updatedAt" data-align="center" data-visible="false" data-sortable="true"
            data-sort-order="desc">更新时间</th>
        <th data-field="createdAt" data-align="center" data-visible="false" data-sortable="true"
            data-sort-order="desc">创建时间</th>
        <th data-field="action" data-align="center" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
        </thead>
      </table>

    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->
</div><!-- /.contentpanel -->


<script type='text/javascript'>

  var DEVICE_BASE = "${viewHelper.getPath()}/device/ap"
  var DEVICE_SHOW = DEVICE_BASE + "/show";
  var _csrf = "${_csrf.token ?if_exists}";

  var $alert = $('.alert').hide();

  var $table = $('#table').bootstrapTable({
    sortOrder: "desc",
    url: DEVICE_SHOW,
    formatShowingRows : formatShowingRows,
    formatRecordsPerPage : formatRecordsPerPage
  })

  $(function () {

    $table.on('post-body.bs.table', function () {
      var $search = $table.data('bootstrap.table')
        .$toolbar.find('.search input');
      $search.attr('placeholder', '根据MAC搜索 ...');
    });
  })

  function queryParams(params) {
    return {
      page: params.pageNumber,
      size: params.pageSize,
      sortName: params.sortName || "updatedAt",
      sortOrder: params.sortOrder || "desc",
      search: params.searchText,
      _r: Math.floor(Math.random()*10000)
    };
  }

  window.actionEvents = {
    'click .remove': function (e, value, row) {
      if(confirm('确定要删除这一项吗?')) {
        $.ajax({
          url: DEVICE_BASE + "/" + row.id + "/delete",
          type: 'post',
          data: "_csrf=" + _csrf,
          success: function (result) {
            if(result.result == "success") {
              $table.bootstrapTable('refresh');
              showAlert('删除成功!', 'success');
            }
            else {
              showAlert('删除错误!' + result.msg, 'danger');
            }
          },
          error: function () {
            showAlert('删除错误!', 'danger');
          }
        })
      }
    },
    'click .reboot': function (e, value, row) {
      if(confirm('确定要重启吗?')) {
        $.ajax({
          url: DEVICE_BASE + "/" + row.id + "/reboot",
          type: 'post',
          data: "_csrf=" + _csrf,
          success: function (result) {
            if(result.result == "success") {
              showAlert('消息已发送!', 'success');
            }
            else {
              showAlert('消息发送出错!' + result.msg, 'danger');
            }
          },
          error: function () {
            showAlert('消息发送出错!', 'danger');
          }
        })
      }
    },
    'click .reset': function (e, value, row) {
      if(confirm('确定要复位吗?')) {
        $.ajax({
          url: DEVICE_BASE + "/" + row.id + "/reset",
          type: 'post',
          data: "_csrf=" + _csrf,
          success: function (result) {
            if(result.result == "success") {
              showAlert('消息已发送!', 'success');
            }
            else {
              showAlert('消息发送出错!' + result.msg, 'danger');
            }
          },
          error: function () {
            showAlert('消息发送出错!', 'danger');
          }
        })
      }
    }
  };


  function actionFormatter(value, row, index) {
    var status = DEVICE_BASE + "/" + row.id;
    var settings = DEVICE_BASE + "/" + row.id + "/settings";

    return [
      '<div class="btn-group" role="group">',
      '<a class="btn btn-default btn-xs" href="' + status + '" target="_blank" ><i class="fa fa-info">&nbsp;&nbsp;</i>状态</a>',
      '<a class="btn btn-default btn-xs" href="' + settings + '" target="_blank" ><i class="fa fa-cog">&nbsp;&nbsp;</i>配置</a>',
      '<a class="btn btn-default btn-xs reboot" href="javascript:"><i class="fa fa-power-off">&nbsp;&nbsp;</i>重启</a>',
      '<a class="btn btn-warning btn-xs reset"  href="javascript:"><i class="fa fa-refresh">&nbsp;&nbsp;</i>复位</a>',
      '<a class="btn btn-danger btn-xs remove " href="javascript:"><i class="fa fa-trash">&nbsp;&nbsp;</i>删除</a>',
      '</div>'
    ].join('');

    /*
     return [
     '<a href="javascript:"><i class="fa fa-info">&nbsp;&nbsp;</i>状态</a>',
     '&nbsp;&nbsp;&nbsp;&nbsp;',
     '<a class="update" href="javascript:" style="color:#2574ab"><i class="fa fa-cog">&nbsp;&nbsp;</i>配置</a>',
     '&nbsp;&nbsp;&nbsp;&nbsp;',
     '<a href="javascript:"><i class="fa fa-power-off">&nbsp;&nbsp;</i>重启</a>',
     '&nbsp;&nbsp;&nbsp;&nbsp;',
     '<a href="javascript:"><i class="fa fa-refresh">&nbsp;&nbsp;</i>复位</a>',
     '&nbsp;&nbsp;&nbsp;&nbsp;',
     '<a class="remove" href="javascript:" style="color:#505b72"><i class="fa fa-trash" >&nbsp;&nbsp;</i>删除</a>'
     ].join('');
     */
  }



  function onlineFormatter(value) {
    if(value == true || value == "true") {
      return "<img title='上线' style='height:24px;' src='${viewHelper.getPath()}/images/status/connected.png' >";
    }
    else {
      return "<img title='离线' style='height:24px;' src='${viewHelper.getPath()}/images/status/disconnected.png' >";
    }
  }

  /* alert */
  function showAlert(title, type) {
    $alert.attr('class', 'alert alert-' + type || 'success').html('<i class="fa fa-check"></i> ' + title).show();
    setTimeout(function(){$alert.hide();}, 3000);
  }

  /* page formatter */
  function formatRecordsPerPage(pageNumber) {
    return '&nbsp;' + pageNumber + ' 每页';
  }

  function formatShowingRows(pageFrom, pageTo, totalRows) {
    return '共 ' + totalRows + ' 项记录';
  }

  function runningFormatter(value, row, index) {
    return index + 1;
  }
  /* page formatter - end */

</script>

<#include "../layout/footer.html" >
