<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title><@spring.message "password.title.text" /></title>
  <link href="${viewHelper.getPath()}/css/style.default.css" rel="stylesheet">
  <link href="${viewHelper.getPath()}/css/style.custom.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script type='text/javascript' src="${viewHelper.getPath()}/js/html5shiv.js"></script>
  <script type='text/javascript' src="${viewHelper.getPath()}/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">

<section>
  <div class="signuppanel">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form method="post" action="password" id="settings">
          <h3 class="nomargin">${viewHelper.getUsername() ?if_exists} - <@spring.message "password.change.text" /></h3>
          <br/>

          <#if msg??>
            <div class="mb10">
              <div class="alert alert-danger">
                <strong>
                  <#if msg == "error">
                    <@spring.message "password.change.error0.text" />
                  <#elseif msg == "name">
                    <@spring.message "password.change.error1.text" />
                  <#elseif msg == "old">
                    <@spring.message "password.change.error2.text" />
                  </#if>
                </strong>
              </div>
            </div>
          </#if>
          <div class="mb10">
            <label class="control-label"><@spring.message "password.old.text" /></label>
            <input type="password" id="oldPassword" name="oldPassword"  class="form-control" />
          </div>

          <div class="mb10">
            <label class="control-label"><@spring.message "password.new.text" /></label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" />
          </div>

          <div class="mb10">
            <span class="pwstrength_viewport_progress"></span>
          </div>

          <div class="mb10">
            <label class="control-label"><@spring.message "password.twice.text" /></label>
            <input type="password" id="confirmPassword" name="confirmPassword"  class="form-control" />
          </div>
          <input type="hidden" name="_csrf" value="${_csrf.token ?if_exists}" />
          <br />
          <button class="btn btn-success btn-block" type="submit" ><@spring.message "password.submit.text" /></button>
        </form>
      </div><!-- col-sm-6 -->
    </div><!-- row -->

    <div class="signup-footer">
      <div class="pull-left">
      </div>
      <div class="pull-right">
      </div>
    </div>
  </div><!-- signuppanel -->
</section>


<script type='text/javascript' src="${viewHelper.getPath()}/js/jquery-1.11.1.min.js"></script>
<script type='text/javascript' src="${viewHelper.getPath()}/js/jquery-migrate-1.2.1.min.js"></script>
<script type='text/javascript' src="${viewHelper.getPath()}/js/bootstrap.min.js"></script>
<script type='text/javascript' src="${viewHelper.getPath()}/js/i18next.js"></script>
<script type='text/javascript' src="${viewHelper.getPath()}/js/pwstrength.js"></script>
<script type='text/javascript' src='${viewHelper.getPath()}/js/jquery-validation/jquery.validate.min.js'></script>
<script type='text/javascript' src='${viewHelper.getPath()}/js/jquery-validation/messages_zh.js'></script>

<script>

$(document).ready(function() {

  $("#settings").validate({
    rules: {
      oldPassword: {
        required: true,
        maxlength: 32
      },
      newPassword: {
        required: true,
        minlength: 5,
        maxlength: 32
      },
      confirmPassword: {
        required: true,
        minlength: 5,
        maxlength: 32,
        equalTo: "#newPassword"
      }
    },
    messages: {
      oldPassword: {
        required: "<@spring.message "password.old.msg" />"
      },
      newPassword: {
        required: "<@spring.message "password.new.msg0" />",
        minlength: "<@spring.message "password.new.msg1" />"
      },
      confirmPassword: {
        required: "<@spring.message "password.twice.msg0" />",
        minlength: "<@spring.message "password.twice.msg1" />",
        equalTo: "<@spring.message "password.twice.msg2" />"
      }
    }
  });



  i18next.init({
    lng: 'cn',
    resources: {
      cn: {
        translation: {
        "veryWeak": "<@spring.message "password.strength.vweak.text" />",
        "weak": "<@spring.message "password.strength.weak.text" />",
        "normal": "<@spring.message "password.strength.normale.text" />",
        "medium": "<@spring.message "password.strength.medium.text" />",
        "strong": "<@spring.message "password.strength.strong.text" />",
        "veryStrong": "<@spring.message "password.strength.vstrong.text" />"
        }
      }
    }
  }, function () {
    var options = {};
    options.ui = {
      showErrors: true,
      container: "#settings",
      showVerdictsInsideProgressBar: true,
      viewports: {
        progress: ".pwstrength_viewport_progress"
      }
    };

    $('#newPassword').pwstrength(options);
  });
})
</script>

</body>
</html>
